- breadcrumb_title _("Schedules")

- content_for :page_specific_javascripts do
  = webpack_bundle_tag 'common_vue'
  = webpack_bundle_tag 'schedules_index'

- @no_container = true
- page_title _("Pipeline Schedules")

- if can?(current_user, :create_pipeline_schedule, @project)
  - content_for :breadcrumbs_extra do
    = link_to _('New schedule'), new_namespace_project_pipeline_schedule_path(@project.namespace, @project), class: 'btn btn-create'

= render "projects/pipelines/head"

%div{ class: container_class }
  #pipeline-schedules-callout{ data: { docs_url: help_page_path('user/project/pipelines/schedules') } }
  .top-area
    - schedule_path_proc = ->(scope) { pipeline_schedules_path(@project, scope: scope) }
    = render "tabs", schedule_path_proc: schedule_path_proc, all_schedules: @all_schedules, scope: @scope

    - if can?(current_user, :create_pipeline_schedule, @project)
      .nav-controls.visible-xs
        = link_to new_project_pipeline_schedule_path(@project), class: 'btn btn-create' do
          %span= _('New schedule')

  - if @schedules.present?
    %ul.content-list
      = render partial: "table"
  - else
    .light-well
      .nothing-here-block= _("No schedules")
